@page "/upload/cars"
@model EmployeeManager.Pages.IndexModel
@{
}

<div>
    <form method="post" action="/upload/carList" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button type="submit">Import</button>
    </form>
</div>